@import "tailwindcss";

.mask {
	@apply inline-block align-middle;
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
}

.mask-star {
	mask-image: url("data:image/svg+xml,%3csvg width='192' height='180' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m96 137.263-58.779 42.024 22.163-68.389L.894 68.481l72.476-.243L96 0l22.63 68.238 72.476.243-58.49 42.417 22.163 68.389z' fill-rule='evenodd'/%3e%3c/svg%3e");
}

.mask-star-2 {
	mask-image: url("data:image/svg+xml,%3csvg width='192' height='180' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m96 153.044-58.779 26.243 7.02-63.513L.894 68.481l63.117-13.01L96 0l31.989 55.472 63.117 13.01-43.347 47.292 7.02 63.513z' fill-rule='evenodd'/%3e%3c/svg%3e");
}

.mask-half-1 {
	mask-size: 200%;
	mask-position: left;
	@apply [mask-position:left] rtl:[mask-position:right];
}

.mask-half-2 {
	mask-size: 200%;
	mask-position: right;
	@apply [mask-position:right] rtl:[mask-position:left];
}

.rating {
	@apply relative inline-flex align-middle;

	& input {
		border: none;
		@apply appearance-none;
	}

	:where(*) {
		animation: rating 0.25s ease-out;
		@apply bg-yellow-500 h-6 w-6 rounded-none opacity-20;
	}

	& .rating-hidden {
		@apply w-2 bg-transparent;
	}

	input[type="radio"]:checked {
		background-image: none;
	}

	* {
		&:checked,
		&[aria-checked="true"],
		&[aria-current="true"],
		&:has(~ *:checked, ~ *[aria-checked="true"], ~ *[aria-current="true"]) {
			@apply opacity-100;
		}

		&:focus-visible {
			transition: scale 0.2s ease-out;
			scale: 1.1;
		}
	}

	& *:active:focus {
		animation: none;
	}

	& *:active:focus {
		scale: 1.1;
	}

	&.rating-xs :where(*:not(.rating-hidden)) {
		@apply size-4;
	}

	&.rating-sm :where(*:not(.rating-hidden)) {
		@apply size-5;
	}

	&.rating-md :where(*:not(.rating-hidden)) {
		@apply size-6;
	}

	&.rating-lg :where(*:not(.rating-hidden)) {
		@apply size-7;
	}

	&.rating-xl :where(*:not(.rating-hidden)) {
		@apply size-8;
	}
}

.rating-half {
	:where(*:not(.rating-hidden)) {
		@apply w-3;
	}
}

.rating-half {
	&.rating-xs *:not(.rating-hidden) {
		@apply w-2;
	}

	&.rating-sm *:not(.rating-hidden) {
		@apply w-2.5;
	}

	&.rating-md *:not(.rating-hidden) {
		@apply w-3;
	}

	&.rating-lg *:not(.rating-hidden) {
		@apply w-[.875rem];
	}

	&.rating-xl *:not(.rating-hidden) {
		@apply w-4;
	}
}